
body{
    display: flex;
}

#btn-grp{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#set-start{
    margin-bottom: 10px;
}

#set-end{
    margin-bottom: 10px;
}


#grid{
    height: 1000px;
    width: 1000px;
    background-image: url(./png/wall.png) ;

}
.nth-row{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    box-sizing: border-box;
}

.grid-block{
    box-sizing: border-box;
}
.dragon{
    background-image: url(./png/dragon.png);
}
.start-block{
    background-image: url(./png/knight.png);
}
.end-block{
    background-image: url(./png/princess.png);
}

.selected{
    background-color: rgba(191, 241, 142, 0.61);
    border-color: rgba(191, 241, 142, 0.61);
}

.visited{
    background-color: chartreuse;
}
.path{
    background-color: seagreen;
}