*{
    font-family: Helvetica, sans-serif;
}
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
  }

body{
    display: flex;
}

#btn-grp{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#set-start{
    margin-bottom: 15px;
}

#set-end{
    margin-bottom: 15px;
}

#find-path{
    margin-bottom: 15px;
}

#grid{
    height: 1000px;
    width: 1000px;
    background-image: url(./png/wall.png) ;

}
.nth-row{
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    box-sizing: border-box;
}

.grid-block{
    box-sizing: border-box;
}
.dragon{
    background-image: url(./png/dragon.png);
}
.start-block{
    background-image: url(./png/knight.png);
}
.end-block{
    background-image: url(./png/princess.png);
}

.selected{
    background-color: rgba(191, 241, 142, 0.61);
    border-color: rgba(191, 241, 142, 0.61);
}

.visited{
    background-color: chartreuse;
}
.path{
    background-color: seagreen;
}

.btn{
    background: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.4);
}

.btn:hover{
    background: #219150;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
}
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2{
    margin: 0;
  }
  
  .modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 20px;
    background: #fff;
  }
  
  .close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (orientation:portrait){
      body{
          flex-direction: column;
      }
      #btn-grp{
          width: 1000px;
          background-color: #ccc;
          margin-top: 1rem;
      }
  }